:root {
  --dark-green: #a2d149;
  --light-green: #aad751;
  --dark-brown: #d7b899;
  --light-brown: #e5c29f;
}

#app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-tap-highlight-color: transparent;
}

#game {
  box-shadow: 0 0 50px black;
}

#header {
  background: saddlebrown;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 5px black;
  position: relative;
}

select {
  border-radius: 5px;
  box-shadow: 0 0 2px lightgrey;
  cursor: pointer;
}

#time {
}

#timeIcon {
  margin-right: 5px;
}

#grid {
  display: grid;
  cursor: pointer;
}

.square {
  padding: 0.3em;
  font-size: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  user-select: none;
  font-weight: 600;
}
.square.c0 {
  background-color: var(--dark-green);
}
.square.c1 {
  background-color: var(--light-green);
}
.square.c0.uncovered {
  background-color: var(--dark-brown);
}
.square.c1.uncovered {
  background-color: var(--light-brown);
}

#resetBtn {
  cursor: pointer;
}
